.login-wrapper{
    .heading{
        margin-left: 200px;
    }
}
.auth-inputs {
    ::placeholder {
        color: white;
    }
}

.login-btn{
    margin-top: 20px;

}

.TwasolLlogo {
    width: 80px; 
}